.ship-info {
    display: flex;
    flex-direction: column;
    padding: 0 76px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.969841) 19.79%, #000000 99.99%);
    height: 100%;
    margin-top: -190px;
}

.ship-info-header {
    display: flex;
    color: var(--light-white);
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    align-items: center;
    gap: 22px;
    margin-top: 40px;
}

.ship-info-header-text {
    margin: 0;
    font-size: 64px;
    text-transform: uppercase;
}

.ship-info-description {
    color: var(--light-white);
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 16px;
}

.ship-info-header-class {
    height: 75px;
}