.ship-image-container {
    min-height: 660px;
    max-height: 660px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.ship-nation-flag {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -2;
}

.ship-image {
    z-index: -1;
    background: radial-gradient( at bottom, #000000 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
}